<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-light-grey">
    <!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
    <h1 class="w3-xlarge">Torre</h1>
    <div class="w3-padding-32">
      <div class="w3-bar w3-border">
        <a href="http://localhost:9000/" class="w3-bar-item w3-button">Home</a>
        <a href="http://localhost:9000/profile/brijalsavaliya" class="w3-bar-item w3-button">Profile - brijalsavaliya</a>
        <a href="http://localhost:9000/opportunities/Yd62lOdp" class="w3-bar-item w3-button w3-light-grey">Opportunity - Yd62lOdp</a>
      </div>
    </div>
  </header>
  
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2><%= opportunity.objective%></h2>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#ddd;">
    <h2>Column 4</h2>
    <p>Some text..</p>
  </div>
</div>


</body>
</html>
